<div class="course-card">
  <div class="course-card__head">
    <img class="course-card__head-img" src="" alt="TITLE IMAGE">
  </div>
  <div class="course-card__body">
    <h3 class="course-card__title">Title of the course</h3>
    <p class="course-card__author">Author Author</p>
    <div class="course-card__rating">
      <span class="course-card__rating-stars"> TO DO STARS </span>
      <span class="course-card__rating-value">4,7</span>
      <span class="course-card__rating-students">(4523)</span>
    </div>
    <p class="course-card__prices">
      <span class="course-card__discount">$129.99</span>
      <span class="course-card__price">$12.99</span>
    </p>
  </div>
</div>
