<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="courses-cards">
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>

